<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}} - {{strings.title}}</title>
    <meta name="description" content="{{description}}">
    <meta name="author" content="{{author}}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <link href="/static/style.css" rel="stylesheet">    
    <link href="/static/style_print.css" rel="stylesheet" media="print">
    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/apple-touch-icon-114x114.png">

    <script type="text/javascript">
      function resizeImages(maxWidth) {
        var img = document.images;

        for(var i = 0; i < img.length; i++) {
          if (img[i].width > maxWidth) {
            var ratio = maxWidth / img[i].width;
            img[i].width = maxWidth;
          }
        }
      }
    </script>
  </head>

  <body onload="resizeImages(700);">
    <div class="container">
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="page-header">
        <h1><a href="/">{{strings.title}} <small>{{strings.tagline}}</small></a></h1>
        <div id="discobot"></div>
      </div>
      <!-- Example row of columns -->
      <div class="row">
        <div class="span11 homepage-content">
          {{content}}
          {{pagination}}
        </div>
        <div class="span4 offset1 sidebar">
          {{languages}}
          {{statuses}}
          {{menus}}
          {{tags}}
        </div>
      </div>
      <footer>
        <p><a href="https://github.com/devtyr/ideamark" title="ideamark">ideamark</a> based on <a href="https://github.com/skid/this-blog" title="this-blog">this-blog</a>; powered by <a href="http://www.nodejs.org" title="node.js">node.js</a>; documents written by {{strings.author}}</p>
      </footer>
    </div> <!-- /container -->
    {{gaCode}}
  </body>
</html>
